[submodule "detection/third_party/apriltag"]
	path = detection/third_party/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "detection/third_party/allwpilib"]
	path = detection/third_party/allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
